# A bit more on data Wrangling with Pandas

In [1222]:
from IPython.display import display
import pandas as pd
import numpy as np

# Concatinating DF's

Let's create two data frames that have the same structure but different sets of values

In [1223]:
df1 = pd.DataFrame({'key': ['a', 'b', 'c', 'd'], 'var1': [0,1,2,3], 'var2': [3,4,5,6]})
df2 = pd.DataFrame({'key': ['a', 'b', 'c', 'd'], 'var1': [0,1,2,3], 'var2': [1,2,3,4]})
display(df1,df2)

  key  var1  var2
0   a     0     3
1   b     1     4
2   c     2     5
3   d     3     6

  key  var1  var2
0   a     0     1
1   b     1     2
2   c     2     3
3   d     3     4

Join these two dataframes along rows...

In [1224]:
pd.concat([df1,df2])

  key  var1  var2
0   a     0     3
1   b     1     4
2   c     2     5
3   d     3     6
0   a     0     1
1   b     1     2
2   c     2     3
3   d     3     4

Now, let's join these two dataframs along columns

In [1225]:
pd.concat([df1,df2], axis=1)

  key  var1  var2 key  var1  var2
0   a     0     3   a     0     1
1   b     1     4   b     1     2
2   c     2     5   c     2     3
3   d     3     6   d     3     4

As a convenience function, we can append dataframes, which is the same as a concat along rows...

In [1226]:
df1.append(df2)

  key  var1  var2
0   a     0     3
1   b     1     4
2   c     2     5
3   d     3     6
0   a     0     1
1   b     1     2
2   c     2     3
3   d     3     4

Let's create three other sample dataframes, with different structures

In [1227]:
df1 = pd.DataFrame({'key': ['a', 'b', 'c', 'd', 'e', 'f', 'a'], 'data1': np.random.randn(7)})
df2 = pd.DataFrame({'key': ['a', 'a', 'a'], 'data2': np.random.randint(1,10,3)})
df3 = pd.DataFrame({'key': ['d', 'e', 'f', 'f'], 'data3': range(4)})

display(df1,df2, df3)

      data1 key
0  0.527255   a
1  0.183914   b
2  0.887507   c
3  0.914485   d
4  1.157494   e
5  0.337720   f
6 -0.496855   a

   data2 key
0      9   a
1      1   a
2      6   a

   data3 key
0      0   d
1      1   e
2      2   f
3      3   f

And try joining these along rows...

In [1228]:
pd.concat([df1,df2,df3])

      data1  data2  data3 key
0  0.527255    NaN    NaN   a
1  0.183914    NaN    NaN   b
2  0.887507    NaN    NaN   c
3  0.914485    NaN    NaN   d
4  1.157494    NaN    NaN   e
5  0.337720    NaN    NaN   f
6 -0.496855    NaN    NaN   a
0       NaN    9.0    NaN   a
1       NaN    1.0    NaN   a
2       NaN    6.0    NaN   a
0       NaN    NaN    0.0   d
1       NaN    NaN    1.0   e
2       NaN    NaN    2.0   f
3       NaN    NaN    3.0   f

And now, along columns

In [1229]:
pd.concat([df1,df2,df3], axis=1)

      data1 key  data2  key  data3  key
0  0.527255   a    9.0    a    0.0    d
1  0.183914   b    1.0    a    1.0    e
2  0.887507   c    6.0    a    2.0    f
3  0.914485   d    NaN  NaN    3.0    f
4  1.157494   e    NaN  NaN    NaN  NaN
5  0.337720   f    NaN  NaN    NaN  NaN
6 -0.496855   a    NaN  NaN    NaN  NaN

In [1230]:
df1.append(df2)

      data1  data2 key
0  0.527255    NaN   a
1  0.183914    NaN   b
2  0.887507    NaN   c
3  0.914485    NaN   d
4  1.157494    NaN   e
5  0.337720    NaN   f
6 -0.496855    NaN   a
0       NaN    9.0   a
1       NaN    1.0   a
2       NaN    6.0   a

# Merging Frames in Pandas

"pandas has full-featured, high performance in-memory join operations idiomatically very similar to relational databases like SQL. These methods perform significantly better (in some cases well over an order of magnitude better) than other open source implementations (like base::merge.data.frame in R). The reason for this is careful algorithmic design and internal layout of the data in DataFrame." (http://pandas.pydata.org/pandas-docs/stable/merging.html)

Let's start be creating three data frames that we will use to demonstrate pandas merging

## The four types of merges

Merging in Pandas is similar to joins in database work.

The pandas options for merging are 1) inner, 2) left, 3) right and 4) outer. 

By default, Pandas merge does an inner join - but, you can specify any of the four merges explicitly.

### Inner Join

#### when we have a shared key name

With a shared key name, pandas will do a "one to many" merge on any common key names

Let's create two new dataframes to play with..

In [1231]:
df1 = pd.DataFrame({'key': ['a', 'b', 'c', 'd', 'e', 'f', 'a'], 'data1': np.random.randn(7)})
df2 = pd.DataFrame({'key': ['a', 'a', 'a'], 'data2': np.random.randint(1,10,3)})

display(df1,df2)

      data1 key
0 -2.424365   a
1 -0.338450   b
2  0.412687   c
3 -0.357946   d
4 -1.091324   e
5 -0.824121   f
6  1.975052   a

   data2 key
0      3   a
1      5   a
2      1   a

Let's merge these two Df's

In [1232]:
pd.merge(df1,df2,on='key')

      data1 key  data2
0 -2.424365   a      3
1 -2.424365   a      5
2 -2.424365   a      1
3  1.975052   a      3
4  1.975052   a      5
5  1.975052   a      1

... but, also, not that if we didn't specify what field to merge on, pandas will attempt to merge on a common field

In [1233]:
pd.merge(df1,df2)

      data1 key  data2
0 -2.424365   a      3
1 -2.424365   a      5
2 -2.424365   a      1
3  1.975052   a      3
4  1.975052   a      5
5  1.975052   a      1

... and, note the the effects of changing the order

In [1234]:
pd.merge(df2,df1)

   data2 key     data1
0      3   a -2.424365
1      3   a  1.975052
2      5   a -2.424365
3      5   a  1.975052
4      1   a -2.424365
5      1   a  1.975052

Note, that we can also specifiy the left field and the right field to merge on. In this case both and left have the same key name, that is "key", so this effecitvely generates the same result of an "on" merge

In [1235]:
pd.merge(df2,df1, left_on='key', right_on='key')

   data2 key     data1
0      3   a -2.424365
1      3   a  1.975052
2      5   a -2.424365
3      5   a  1.975052
4      1   a -2.424365
5      1   a  1.975052

Let's look at when we don't have a common column name (in this case 'key')

First, we'll create two new df's to experiment with...

In [1236]:
df1 = pd.DataFrame({'key1': ['a', 'b', 'c', 'd', 'e', 'f', 'a'], 'data1': range(7)})
df2 = pd.DataFrame({'key2': ['a', 'a', 'a'], 'data2': range(3)})
display(df1, df2)

   data1 key1
0      0    a
1      1    b
2      2    c
3      3    d
4      4    e
5      5    f
6      6    a

   data2 key2
0      0    a
1      1    a
2      2    a

In [1237]:
pd.merge(df1,df2, left_on='key1', right_on='key2')

   data1 key1  data2 key2
0      0    a      0    a
1      0    a      1    a
2      0    a      2    a
3      6    a      0    a
4      6    a      1    a
5      6    a      2    a

In [1238]:
pd.merge(df2,df1, left_on='key2', right_on='key1')

   data2 key2  data1 key1
0      0    a      0    a
1      0    a      6    a
2      1    a      0    a
3      1    a      6    a
4      2    a      0    a
5      2    a      6    a

We may have times where we have two unique column names which we wish to join on ('key') but the same "data" name...

In [1239]:
df1 = pd.DataFrame({'key1': ['a', 'b', 'c', 'd', 'e', 'f', 'a'], 'data': range(7)})
df2 = pd.DataFrame({'key2': ['a', 'a', 'a'], 'data': range(3)})
display(df1, df2)

   data key1
0     0    a
1     1    b
2     2    c
3     3    d
4     4    e
5     5    f
6     6    a

   data key2
0     0    a
1     1    a
2     2    a

When we merge on different keys for df's that have the same name, pandas will create a unique name for us...

In [1240]:
pd.merge(df1,df2, left_on='key1', right_on='key2')

   data_x key1  data_y key2
0       0    a       0    a
1       0    a       1    a
2       0    a       2    a
3       6    a       0    a
4       6    a       1    a
5       6    a       2    a


## Other merges

Let's create a couple data frames to work with

In [1241]:
df1 = pd.DataFrame({'key': ['a', 'b', 'c', 'd', 'e', 'f', 'a'], 'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'a', 'a', 'g'], 'data2': range(4)})

display(df1, df2)

   data1 key
0      0   a
1      1   b
2      2   c
3      3   d
4      4   e
5      5   f
6      6   a

   data2 key
0      0   a
1      1   a
2      2   a
3      3   g

Here's an example of an **inner join** merge

In [1242]:
pd.merge(df1, df2, on='key', how='inner')

   data1 key  data2
0      0   a      0
1      0   a      1
2      0   a      2
3      6   a      0
4      6   a      1
5      6   a      2

...which we can see is the same behavior as the default

In [1243]:
pd.merge(df1, df2, on='key')

   data1 key  data2
0      0   a      0
1      0   a      1
2      0   a      2
3      6   a      0
4      6   a      1
5      6   a      2

### Left Join
Let's conduct a left join

In [1244]:
pd.merge(df1, df2, how='left')

    data1 key  data2
0       0   a    0.0
1       0   a    1.0
2       0   a    2.0
3       1   b    NaN
4       2   c    NaN
5       3   d    NaN
6       4   e    NaN
7       5   f    NaN
8       6   a    0.0
9       6   a    1.0
10      6   a    2.0

### Right Join

In [1245]:
pd.merge(df1, df2, how='right')

   data1 key  data2
0    0.0   a      0
1    6.0   a      0
2    0.0   a      1
3    6.0   a      1
4    0.0   a      2
5    6.0   a      2
6    NaN   g      3

### Outer Join

In [1246]:
pd.merge(df1, df2, how='outer')

    data1 key  data2
0     0.0   a    0.0
1     0.0   a    1.0
2     0.0   a    2.0
3     6.0   a    0.0
4     6.0   a    1.0
5     6.0   a    2.0
6     1.0   b    NaN
7     2.0   c    NaN
8     3.0   d    NaN
9     4.0   e    NaN
10    5.0   f    NaN
11    NaN   g    3.0

note: the inplace=True will result in changing the existing df, otherwise the dataframe will not be updated, but a new df will be created and returned.

# Indexing (slicing) of dataframes

In [1247]:
df = pd.DataFrame({'data1': ['a', 'b', 'c', 'd', 'e', 'f', 'a'], 
                   'data2': range(7), 'data3': np.random.randint(1,10,7),'data4': np.random.randint(100,110,7)})

In [1248]:
df

  data1  data2  data3  data4
0     a      0      2    102
1     b      1      7    104
2     c      2      8    100
3     d      3      5    100
4     e      4      4    105
5     f      5      4    103
6     a      6      9    100

In [1249]:
df[['data1']][:3]

  data1
0     a
1     b
2     c

In [1250]:
df[1:3]

  data1  data2  data3  data4
1     b      1      7    104
2     c      2      8    100

In [1251]:
df[3:]

  data1  data2  data3  data4
3     d      3      5    100
4     e      4      4    105
5     f      5      4    103
6     a      6      9    100

In [1252]:
df_view = df.loc[5]  # notice how we pulled the row with index 5, not the first row
df_view

data1      f
data2      5
data3      4
data4    103
Name: 5, dtype: object

NOTE: when we reference dataframe we are getting a "view" into the data frame. Therefore, if we alter these values we will alter the original dwataframe. If we need a copy, we simply add the copy method.

In [1253]:
df_copy_of_slice = df.loc[5].copy() 
df_copy_of_slice

data1      f
data2      5
data3      4
data4    103
Name: 5, dtype: object

Though not obvious in the above example, but with with loc, we are matching the name of the index, rather than the index position. If we want to access the index position... use iloc

let's alter our index to demonstate this

In [1254]:
df.reindex([0,2,1,4,5,6,3])

  data1  data2  data3  data4
0     a      0      2    102
2     c      2      8    100
1     b      1      7    104
4     e      4      4    105
5     f      5      4    103
6     a      6      9    100
3     d      3      5    100

In [1255]:
df.loc[1] # notice this isn't the second row, but the third -- because the name of this row is '1'

data1      b
data2      1
data3      7
data4    104
Name: 1, dtype: object

Considering this, most time you want to using index numbering... which is how you're used to accessing elements in an array

In [1256]:
df.iloc[2:5] # here we can slice based on index numbers, as we'd expect

  data1  data2  data3  data4
2     c      2      8    100
3     d      3      5    100
4     e      4      4    105

In [1257]:
df.iloc[2:5, 2:3] # and we can also slice on columns and rows, like an array

   data3
2      8
3      5
4      4

ix[] is a combination of loc and iloc...

In [1258]:
df.ix[:1,2:4]  # this searches for names first, then index locations

   data3  data4
0      2    102
1      7    104

In [1259]:
display(df[1:3])

  data1  data2  data3  data4
1     b      1      7    104
2     c      2      8    100

In [1260]:
display(df[['data2', 'data3']])

   data2  data3
0      0      2
1      1      7
2      2      8
3      3      5
4      4      4
5      5      4
6      6      9

In [1261]:
display(df[['data1', 'data3']][1:3])

  data1  data3
1     b      7
2     c      8

In [1262]:
display(df[['data2']])

   data2
0      0
1      1
2      2
3      3
4      4
5      5
6      6

In [1263]:
display(df[['data1']][1:2])

  data1
1     b

## Appendix

For complete overview of Pandas DataFrame merging, refer to the Pandas documentation here (http://pandas.pydata.org/pandas-docs/stable/merging.html)